@model List<DesignPattern.Facade.DAL.Product>

@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}

<h2>Ürün Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Stok Sayısı</th>
        <th>Fiyatı</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.Name</td>
            <td>@item.Stock</td>
            <td>@item.Price</td>
            <td>@item.Category</td>
            <td><a href="/Default/DeleteCustomer/@item.ProductId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Default/UpdateCustomer/@item.ProductId" class="btn btn-info">Güncelle</a></td>
        </tr>
    }
</table>
<a class="btn btn-success" href="/Default/AddNewProduct/">Ekle</a>

